.title {
  margin-top: 20px;

  h1 {
    font-size: 25px;
    font-weight: bold;
  }
}

hr {
  height: 1px;
  background-color: #070707;
}

.card {
  h1 {
    font-size: 15px;
  }
}

.tag-btn {
  height: 28px;
  border: 1px solid #725172;
  border-radius: 30px;
  font-size: 14px;
  background-color: white;
  color: #725172;
  padding: 0px 15px;
  margin-bottom: 10px;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  gap: 10px;
}

