<mat-toolbar class="header container-fluid navbar-expand-lg">
  <div>
    <a routerLink="/">
      <img class="logo" src="../../assets/logo.png" alt="logo" />
    </a>
  </div>
  <div class="nav-menu spacer">
    <ul>
      <li>
        <a routerLink="home" routerLinkActive="activated">Inicio</a>
      </li>
      <li>
        <a routerLink="products" routerLinkActive="activated">Meus Produtos</a>
      </li>
    </ul>
  </div>
    <div class="divider"></div>
    <img class="profile" src="../../assets/profile.png" alt="profile" />
    <span><strong>{{ user?.name }}</strong></span>
</mat-toolbar>
