<div class="login banner d-flex">
  <div class="white-container h-100 d-flex">
    <form [formGroup]="loginForm" class="form-box" (ngSubmit)="onSubmit()">
      <div class="input-type col-6">
        <h1>Entre.</h1>
        <hr />
        <mat-form-field appearance="outline">
          <mat-label>Nome</mat-label>
          <input matInput formControlName="name" type="text" />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Senha</mat-label>
          <input matInput formControlName="password" type="password" />
        </mat-form-field>
        <button type="submit" class="btn btn-color">Entrar</button>
      </div>
    </form>
  </div>
</div>
