<div class="login banner">
  <div class="white-container h-100 d-flex">
    <form [formGroup]="loginForm" class="form-box" (ngSubmit)="onSubmit()">
      <div class="input">
        <h1>Entre.</h1>
        <hr />
        <label></label>
        <input class="form-control" formControlName="name" type="text" placeholder="Nome"/>
        <label></label>
        <input class="form-control"formControlName="password" type="password" placeholder="Senha"/>
      </div>
      <div>
        <button type="submit" class="btn btn-color mt-5">
          <strong>ENTRAR</strong>
        </button>
      </div>
    </form>
  </div>
</div>

