.title {
    margin-top: 20px;
    margin-left: 50px;

    h1 {
        font-size: 25px;
        font-weight: bold;
    }
} 
    

hr {
    height: 1px;
    width: 1250px;
    background-color: #070707; 
}