.title{    
    font-size  : 18px;
    font-weight: bold;
}

.btn{
    border-color: #725172 !important;
    background-color: #725172 !important;
    color: #fff !important;
}

.cancel {
    border-color: #725172 !important;
    border-radius: 10px;
    background-color: white;
    color: #725172;
    margin-left: 10px;
}