<form class="p-3" [formGroup]="productForm" (ngSubmit)="onSubmit()">
    <h1 class="title">{{ isEditedMode ? 'Editar Produto' : 'Novo Produto' }}</h1>
  <div>
    <label></label>
    <input placeholder="Nome" class="form-control" type="text" formControlName="name"/>
  </div>
  <div>
    <label></label>
    <input placeholder="Descrição" class="form-control" type="text" formControlName="description"/>
  </div>
  <div class="row">
  <div class="col-6">
    <label></label>
    <input placeholder="Preço" class="form-control" type="number" formControlName="price"/>
  </div>
  <div class="col-6">
    <label></label>
    <input placeholder="Data da Remessa" class="form-control" type="date" formControlName="date"/>
  </div>
</div>
<div>
  <label></label>
  <input placeholder="Categorias, separe as por vírgulas" class="form-control" type="text" formControlName="tags"/>
</div>
  <div class="mt-4 p-2 mr-3 d-flex flex-row-reverse">
    <button class="cancel" (click)="onCancel()">Cancelar</button>
    <button class="btn mr-3" type="submit" >Enviar</button>
  </div>
</form>
