.title{    
    font-size  : 18px;
    font-weight: bold;
}

.btn{
    border-color: #725172 !important;
    background-color: #725172 !important;
    color: #fff !important;
}

.cancel {
    border-color: #725172 !important;
    background-color: white!important;
    color:  #725172 !important;
    margin-left: 10px;
}

mat-form-field {
    width: 100%;
  }